@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.eot") format("eot"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.woff") format("woff");
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight.eot") format("eot"), url("../fonts/GothamProLight.ttf") format("truetype"), url("../fonts/GothamProLight.woff") format("woff");
}

@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium.eot") format("eot"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.woff") format("woff");
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.eot") format("eot"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.woff") format("woff");
}

/*** RESET STYLES ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div, input, textarea, select, button {
    display: block;
    -o-box-sizing: border-box;
       box-sizing: border-box;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*** END RESET STYLES ***/
/* GENERAL */
a {
    text-decoration: none !important;
}

html {
    height: 100%;
}

body {
    font: 14px/1.2 "GothamProRegular", Arial, sans-serif;
    background: #fff;
    color: #798796;
    min-width: 320px;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    height: 100%;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
}

.block__container {
    max-width: 1920px;
    margin: 0 auto;
}

.block__container:after, .block__container:before {
    content: "";
    display: table;
    clear: both;
}

/* end GENERAL */
/* Buttons etc */
.btn {
    display: inline-block;
    vertical-align: top;
    font: 13px "GothamProLight";
    border-radius: 5px;
    background-color: #fd9200;
    background-image: -moz-linear-gradient(to top, #fd9200 0%, #febd16 100%);
    background-image: -webkit-linear-gradient(bottom, #fd9200 0%, #febd16 100%);
    background-image: linear-gradient(to top, #fd9200 0%, #febd16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9200', endColorstr='#febd16',GradientType=0 );
    color: #1d1d1d;
    padding: 10px 15px;
    transition: 0.2s linear;
}

.btn:hover {
    color: #fff;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
    background-color: #343f4b;
}

/* HEADER */
.header {
    width: 100%;
    background-color: #343f4b;
    max-height: 102px;
    overflow: hidden;
}

/*@media only screen and (max-height: 450px) {*/
    /*.header {*/
        /*position: absolute;*/
    /*}*/
/*}*/

.opened-submenu + .dropdown {
    visibility: visible;
    height: auto;
    padding: 20px 10px 20px 45px;
}
.opened-submenu + .dropdown .dropdown__row {
    margin-bottom: 20px;
}
.opened-submenu + .dropdown .dropdown__row a {
    color: #fff;
    border-bottom: 1px solid #50565c;
}
.opened-submenu + .dropdown .dropdown__row a:hover {
    color: #98c12d;
    border-bottom: 1px solid #fff;
    transition: 0.2s;
}
.logo {
    float: left;
    width: 240px;
    padding: 51px 0;
    background-color: #222c38;
}

.logo__wrapper {
    display: block;
}

.logo__img {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 635px) {
    .logo__img {
        display: none;
    }
}

.logo__mob {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 230px;
    }
}

@media only screen and (max-width: 635px) {
    .logo__mob {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 635px) {
    .logo {
        width: 150px;
        padding: 0;
    }
}

.user {
    width: 60%;
    float: left;
    margin-left: 40px;
    padding: 36px 0;
    overflow: hidden;
}

.user__info {
    float: left;
    width: 44%;
}

@media only screen and (max-width: 1000px) {
    .user__info {
        width: 50%;
    }

    .user__info_height {
        width: 65%;
    }

    .user__info_margin {
        width: 29%;
    }
}

@media only screen and (max-width: 635px) {
    .user__info {
        width: 39%;
        overflow: initial;
    }

    .user__info_height {
        width: 39%;
    }

    .user__info_margin {
        width: 60%;
    }
}

@media only screen and (max-width: 635px) {
    .user__info_height .user__description {
        display: none;
    }
}

.user__photo {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.user__photo img {
    border-radius: 50%;
    height: 100%;
}

.user__description {
    float: left;
}

.user__title {
    display: block;
    color: #fff;
    padding-top: 5px;
    font-size: 13px;
    line-height: 0.8;
}

/*@media only screen and (max-width: 1000px) {
    .user__title {
        padding-top: 0;
    }
}*/

.user__subtitle {
    font-size: 12px;
    color: #b2abab;
}

.user__ico {
    float: left;
    width: 25px;
    height: 27px;
    margin-right: 10px;
}

@media only screen and (max-width: 635px) {
    .user__ico {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .user {
        width: 45%;
    }
}

@media only screen and (max-width: 635px) {
    .user {
        margin: 0;
        margin-left: 20px;
        overflow: initial;
    }
}

.authorization {
    float: right;
    padding-top: 35px;
    margin-right: 20px;
}

.authorization .logout {
    padding: 9px 15px;
}

@media only screen and (max-width: 1000px) {
    .authorization {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 635px) {
    .authorization .logout {
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 635px) {
    .authorization {
        margin-right: 0;
        margin: 0 33px 10px 0;
        text-align: right;
    }
}

/* end HEADER 
/* SIDEBAR */
.sidebar {
    position: absolute;
    top: 102px;
    bottom: 0;
    height: 2000px;
    padding-top: 20px;
    font: 14px "GothamProLight";
    background-color: #222c38;
    z-index: 3;
}

.sidebar__nav {
    margin-bottom: 20px;
}
.sidebar_close .sidebar__item::after {
    display: none;
}
/*BEGIN CHANGE 5.01.17*/
@media only screen and (min-width: 1100px){
    .sidebar {
        width: 240px;
    }
}

.sidebar_close .sidebar {
    width: 52px;
}
/*END CHANGE 5.01.17*/

@media only screen and (max-width: 447px) {
    .sidebar__nav {
        margin-bottom: 0;
    }
}

@media only screen and (max-height: 450px) {
    .sidebar__nav {
        margin-bottom: 0;
    }
}

.sidebar__row {
    border-bottom: 1px solid #2b3138;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.sidebar__item {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #141a22;
    color: #fff !important;
    overflow: hidden;
    padding: 15px 45px 15px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 5;
}

.sidebar__item:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    background: url(../img/menu_icons.png) no-repeat;
    float: left;
}
.sidebar__title {
    pointer-events: none;
}
.sidebar__title:before {
    clear: both;
    display: block;
    content: '';
    width: 52px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: all;
    z-index: 10;
}
.sidebar__item:after {
    content: "";
    position: absolute;
    top: 25px;
    right: -5px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 7px;
    height: 9px;
    background: url(../img/arrow_menu.png) no-repeat;
    visibility: hidden;
    transition: 0.1s linear;
}

@media only screen and (max-height: 450px) {
    .sidebar__item:after {
        top: 12px;
    }
}

.sidebar__item-trader:before {
    background-position: 0 0;
}

.sidebar__item-investor:before {
    background-position: -40px 0;
}

.sidebar__item-webmaster:before {
    background-position: -80px 0;
}

.sidebar__item-support:before {
    background-position: -128px 0;
}

.sidebar__item-profile:before {
    background-position: -167px 0;
}

.sidebar__item-balance:before {
    background-position: -202px 0;
}

.sidebar__item.active, .sidebar__item.active-empty {
    background-color: #87ac28;
    background-image: -moz-linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
    background-image: -webkit-linear-gradient(bottom, #87ac28 0%, #9dc82f 100%);
    background-image: linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ac28', endColorstr='#87ac28',GradientType=0 );
}
@media only screen and (min-width: 641px) {
    .sidebar__row:hover .sidebar__item, .sidebar__item:hover {
        background-color: #87ac28;
        background-image: -moz-linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
        background-image: -webkit-linear-gradient(bottom, #87ac28 0%, #9dc82f 100%);
        background-image: linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ac28', endColorstr='#87ac28',GradientType=0 );
    }
}
.sidebar__row:hover {
    width: 240px;
}
.sidebar_close .sidebar__row:hover, .sidebar_close .sidebar__row:hover a {
    border-bottom: none;
    margin-bottom: 1px;
    overflow: inherit;
}
.sidebar__row:hover .sidebar__item-trader:before, .sidebar__item.active-empty.sidebar__item-trader:before, .sidebar__item:hover.sidebar__item-trader:before, .sidebar__item.active.sidebar__item-trader:before {
    background-position: -20px 0;
}

.sidebar__row:hover .sidebar__item-investor:before, .sidebar__item.active-empty.sidebar__item-investor:before, .sidebar__item:hover.sidebar__item-investor:before, .sidebar__item.active.sidebar__item-investor:before {
    background-position: -61px 0;
}

.sidebar__row:hover .sidebar__item-webmaster:before, .sidebar__item.active-empty.sidebar__item-webmaster:before, .sidebar__item:hover.sidebar__item-webmaster:before, .sidebar__item.active.sidebar__item-webmaster:before {
    background-position: -104px 0;
}

.sidebar__row:hover .sidebar__item-support:before, .sidebar__item.active-empty.sidebar__item-support:before, .sidebar__item:hover.sidebar__item-support:before, .sidebar__item.active.sidebar__item-support:before {
    background-position: -149px 0;
}

.sidebar__row:hover .sidebar__item-profile:before, .sidebar__item.active-empty.sidebar__item-profile:before, .sidebar__item:hover.sidebar__item-profile:before, .sidebar__item.active.sidebar__item-profile:before {
    background-position: -184px 0;
}

.sidebar__row:hover .sidebar__item-balance:before, .sidebar__item.active-empty.sidebar__item-balance:before, .sidebar__item:hover.sidebar__item-balance:before, .sidebar__item.active.sidebar__item-balance:before {
    background-position: -224px 0;
}

@media only screen and (max-height: 450px) {
    .sidebar__item {
        padding: 4px 45px 4px 15px;
    }
    .sidebar {
        padding-top: 0;
        position: absolute;
    }
}

.dropdown {
    display: none;
    background-color: #161d26;
    height: 0;
    visibility: hidden;
}

.show-menu {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    text-align: right;
}

@media only screen and (min-width: 641px) {
    .show-menu:hover {
        background-color: #87ac28;
        background-image: -moz-linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
        background-image: -webkit-linear-gradient(bottom, #87ac28 0%, #9dc82f 100%);
        background-image: linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87ac28', endColorstr='#87ac28', GradientType=0);
    }
}

.show-menu:hover .show-menu__ico {
    background-position: -7px 0;
}

.show-menu:hover .show-menu__title {
    color: #fff;
    text-decoration: none;
}

.show-menu__ico {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 6px;
    height: 8px;
    background: url(../img/arrow_show.png) no-repeat;
}

.show-menu__title {
    font-size: 0;
}

.sidebar_open .sidebar {
    width: 240px;
}

.sidebar_open .sidebar__item {
    font-size: 14px;
}

.sidebar_open .sidebar__item:after {
    right: 25%;
    visibility: visible;
}
.sidebar_open .sidebar__item.not-arrow:after {
    display: none;
}

@media only screen and (max-width: 640px) {
    .sidebar_open .sidebar__item:after {
        right: 75px;
    }
}

.sidebar_open .sidebar__item.active:after {
    top: 20px;
    right: 26%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

@media only screen and (max-height: 450px) {
    .sidebar_open .sidebar__item.active:after {
        top: 9px;
    }
}

.sidebar_open .sidebar__title {
    font: 14px "GothamProLight";
}

@media only screen and (min-width: 1100px) {
    .sidebar__item:after {
        right: 23%;
        visibility: visible;
    }
}

@media only screen and (max-width: 1000px){
    .sidebar {
        width: 52px;
    }
    .sidebar_open .sidebar {
        width: 230px;
    }
    .sidebar__row:hover {
        width: 230px;
    }
}

@media only screen and (max-width: 640px) {
    .sidebar_open .sidebar {
        width: 100%;
    }
    .sidebar_open .sidebar__item.active:after {
        right: 78px;
    }
    .sidebar__row:hover {
        width: 100%;
    }
    .sidebar__nav {
        overflow: hidden;
    }
}


@media only screen and (max-width: 500px) {
    .authorization {
        padding-top: 0;
    }
    .user {
        padding: 0;
        margin-left: 16%;
    }
}
@media only screen and (max-width: 400px) {
    .user {
        padding: 0;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 340px) {
    .authorization {
        margin: 0 8px 10px 0;
    }
}

/*begin change 28.12*/
.js-drop.active+.dropdown {
    height: auto;
    visibility: visible;
    padding: 20px 10px 20px 45px;
}

.js-drop.active+.dropdown .dropdown__row {
    margin-bottom: 20px;
}

.js-drop.active+.dropdown .dropdown__item, .sidebar_close .sidebar__row:hover a + .dropdown  .dropdown__item {
color: #fff;
font: 13px "GothamProLight";
border-bottom: 1px solid #50565c;
transition: 0.2s linear;
}

.js-drop.active+.dropdown .dropdown__item:hover, .js-drop.active+.dropdown .dropdown__item.active {
    color: #98c12d;
    border-bottom: 1px solid #fff;
}

.js-drop.active+.dropdown .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #50565c;
}

.js-drop.active+.dropdown .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #98c12d;
}

@media only screen and (max-width: 1000px) {
    .sidebar_open .content__addit_gray {
        left: 230px;
        padding-left: 0;
        padding-right: 230px;
    }
}

.sidebar_open .show-menu__ico {
    top: 40%;
    left: 64%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: 30% 50%;
        -ms-transform-origin: 30% 50%;
            transform-origin: 30% 50%;
}

.sidebar_open .show-menu__title {
    position: absolute;
    top: 47%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font: 13px "GothamProLight";
    text-decoration: underline;
    color: #c7c5c5;
}

@media only screen and (max-width: 640px) {
    .sidebar_open .show-menu__ico {
        left: 82%;
    }
    .sidebar_open .show-menu__title {
        left: 88%;
    }
}

@media only screen and (max-width: 580px) {
    .sidebar_open .show-menu__ico {
        left: 81%;
    }
}

@media only screen and (max-width: 510px) {
    .sidebar_open .show-menu__ico {
        left: 80%;
    }
}

@media only screen and (max-width: 447px) {
    .sidebar_open .show-menu__ico {
        left: 79%;
    }
}

@media only screen and (max-width: 390px) {
    .sidebar_open .show-menu__ico {
        left: 78%;
    }
}

@media only screen and (max-width: 350px) {
    .sidebar_open .show-menu__ico {
        left: 77%;
    }
}

/* end SIDEBAR */
/* CONTENT */
.content, .sidebar_open .content {
    position: relative;
    z-index: 1;
    padding-left: 240px;
}
.sidebar_close .content {
    padding-left: 52px;
}

/*BEGIN CHANGE 5.01.17*/
@media only screen and (min-width: 1099px) {
    .sidebar_open .content {
        margin-right: 0;
        margin-left: 0;
        max-width: 1920px;
    }
}
/*@media only screen and (min-width: 1099px) {*/
    /*.content {*/
        /*margin-left: 240px;*/
        /*margin-right: 0;*/
        /*max-width: 1920px;*/
    /*}*/
/*}*/
/*END CHANGE 5.01.17*/

@media only screen and (max-width: 1099px) {
    .content, .sidebar_close .content {
        padding: 0 0 0 52px;
        margin-left: 0;
    }
    .sidebar_open .content {
        padding-left: 230px;
    }
}

.content__section {
    overflow: hidden;
    padding: 35px 30px 25px;
}
@media only screen and (max-width: 640px) {
    .content__section {
    padding: 10px;
    margin-bottom: 30px;
    }
}

.sidebar_open .content__main {
    padding-right: 0;
}

.content.second-page .content__main {
    padding-right: 230px;
    width: 100%;
}

.content__main {
    float: left;
}

@media only screen and (max-width: 1099px) {
    .content__main {
        padding-right: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .content__main {
        width: 100%!Important;
        padding-right: 0;
    }
    .content.second-page .content__main {
        padding-right: 0;
        width: 100%;
    }
    .sidebar_open .content__main, .sidebar_open .content.second-page .content__main {
         padding-right: 0;
     }
}

.content__addit {
    width: 22%;
    float: right;
    padding-top: 79px;
}
.content__addit.center-box {
    width: 250px;
}

.content__addit_gray {
    width: 230px;
    position: absolute;
    top: 102px;
    right: 0;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 2;
}

/*@media only screen and (max-width: 1248px) {
    .content__addit {
        padding-top: 123px;
    }

}*/

@media only screen and (max-width: 1450px) {
    .content__addit {
        margin-right: 20px;
    }

    .content__addit_gray {
        padding-right: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .content__addit {
        width: 100%;
        float: left;
        padding: 35px 25px 25px;
    }
}

@media only screen and (max-width: 640px) {
    .content__addit {
        padding: 10px;
        margin-bottom: 20px;
    }
}

.content__bottom {
    padding: 25px 20px 25px 25px;
    display: inline-block;
    width: 100%;
}

@media only screen and (max-width: 1228px) {
    .content__bottom {
        padding: 25px 42px 25px 25px;
    }
}

@media only screen and (max-width: 640px) {
    .content__bottom {
        padding: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .content {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .content__addit_gray {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 35px 0 25px 52px;
    }
}

.nav-block {
    /*width: 80%;
    display: inline-block;
    vertical-align: middle;*/
    font-size: 0;
}

.nav-block__item {
    display: inline-block;
    vertical-align: middle;
    font: 14px "GothamProLight";
    color: #1d1d1d;
    padding: 14px 30px;
}

@media only screen and (max-width: 1230px) {
    .nav-block__item {
        width: 22%;
        text-align: center;
        padding: 14px 7px;
        height: 16px;
    }
}

.nav-block__item-active, .nav-block__item:hover {
    color: #fff;
    background-color: #87ac28;
    background-image: -moz-linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
    background-image: -webkit-linear-gradient(bottom, #87ac28 0%, #9dc82f 100%);
    background-image: linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ac28', endColorstr='#87ac28',GradientType=0 );
}

.nav-block__item-active .nav-block__text, .nav-block__item:hover .nav-block__text {
    border-bottom: 1px dotted transparent;
}

.nav-block__item:hover .nav-block__text {
    border-bottom: 1px dotted transparent;
}

@media only screen and (max-width: 1000px) {
    .nav-block__item {
        width: 36%;
        text-align: center;
    }
}

@media only screen and (max-width: 640px) {
    .nav-block__item {
        width: 50%;
        padding: 15px 0;
    }
}

.nav-block__text {
    border-bottom: 1px dashed #1d1d1d;
}

@media only screen and (max-width: 1228px) {
    .nav-block {
        width: 100%;
    }
}

.title-block {
    display: block;
    margin-bottom: 20px;
    color: #1d1d1d;
    font: 15px "GothamProBold";
    text-transform: uppercase;
}

.sort {
    margin-bottom: 30px;
}

.sort__box {
    display: inline-block;
    vertical-align: middle;
    min-width: 56px;
    height: 30px;
    margin-right: 10px;
}

.sort__box:last-child {
    margin-right: 0;
}

.specification__diagram img {
    margin: 0 auto;
}

.specification .sort__box {
    width: 100%;
}

@media only screen and (max-width: 447px) {
    .sort__box:last-child {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 447px) {
    .sort__box:nth-child(2) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 447px) {
    .sort__box {
        margin-right: 16px;
    }
}

.sort__switch {
    width: 56px;
    border-radius: 3px;
    border: 1px solid #dde8ed;
    background-color: #f5f7f8;
    text-align: center;
    overflow: hidden;
}

.sort__control {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.sort__control_prev:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 5px 4.5px 0;
    border-color: transparent #c1d2da transparent transparent;
}

.sort__control_next:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 5px;
    border-color: transparent transparent transparent #c1d2da;
}

.sort__control:hover.sort__control_prev:before {
    border-color: transparent #7a93ae transparent transparent;
}

.sort__control:hover.sort__control_next:before {
    border-color: transparent transparent transparent #7a93ae;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: 100%;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #dde8ed;
    background-color: #f5f7f8;
    background-color: #f5f7f8;
    outline: none;
}

.select2-container--default .select2-selection--single:hover .select2-selection__arrow b {
    border-color: #7a93ae transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single:hover .select2-selection__arrow b {
    border-color: transparent transparent #7a93ae transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #c1d2da transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #c1d2da transparent;
}

.select2-dropdown {
    border: 1px solid #dde8ed;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(54, 144, 15, 0.33);
    outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #87ac28;
    background-image: -moz-linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
    background-image: -webkit-linear-gradient(bottom, #87ac28 0%, #9dc82f 100%);
    background-image: linear-gradient(to top, #87ac28 0%, #9dc82f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ac28', endColorstr='#87ac28',GradientType=0 );
}

.rtable {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dde8ed;
}

.rtable thead {
    text-align: left;
    background-color: #e0ebf1;
}

.rtable thead th {
    padding: 15px 16px 13px;
    font: 14px "GothamProBold";
    text-transform: uppercase;
    color: #1d1d1d;
    text-align: left;
}

.rtable tbody, .rtable tbody a {
    background-color: #f5f7f8;
    color: #798796;
    font-size: 14px;
}

.rtable tr:first-child td {
    padding: 16px 16px 8px;
}

.rtable tr:last-child td {
    padding: 8px 16px 16px;
}

.rtable td {
    padding: 8px 16px 8px;
}

@media only screen and (max-width: 1000px) {
    .rtable {
        /*! // IE needs inline-block to position scrolling shadows otherwise use: // display: block; // max-width: min-content; */ width: auto;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        border: none;
        overflow-x: auto;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .rtable, .rtable--flip tbody {
        -webkit-overflow-scrolling: touch;
        background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 100% center;
        background-size: 10px 100%, 10px 100%;
        background-attachment: scroll, scroll;
        background-repeat: no-repeat;
    }
    .rtable td:first-child, .rtable--flip tbody tr:first-child {
        background-repeat: no-repeat;
        background-size: 20px 100%;
    }
    .rtable td:last-child, .rtable--flip tbody tr:last-child {
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 20px 100%;
    }
    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #e0ebf1;
    }
    .rtable th, .rtable td {
        padding: 20px 15px 15px;
        border: 1px solid #d9d7ce;
    }

    .rtable tr:first-child td,
    .rtable tr:last-child td {
        padding: 20px 15px 15px;
    }

    .rtable thead th {
        padding: 23px 15px 15px;
    }
    .rtable--flip {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        overflow: hidden;
        background: none;
    }
    .rtable--flip thead {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
        min-width: -webkit-min-content;
        min-width:    -moz-min-content;
        min-width:         min-content;
    }
    .rtable--flip tbody {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .rtable--flip tr {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        min-width: -webkit-min-content;
        min-width:    -moz-min-content;
        min-width:         min-content;
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
    }
    .rtable--flip td, .rtable--flip th {
        display: block;
    }
    .rtable--flip td {
        background-image: none !important;
        border-left: 0;
    }
    .rtable--flip th:not(:last-child), .rtable--flip td:not(:last-child) {
        border-bottom: 0;
    }
}

@media only screen and (max-width: 800px) {
    .rtable thead th {
		padding: 23px 15px 15px;
    }
}
/* END Responsive TABLE (scrolling) */

.info__block {
    padding: 20px 15px 50px;
    border-radius: 3px;
    border: 1px solid #dde8ed;
    background-color: #f5f7f8;
    margin-bottom: 50px;
}

@media only screen and (max-width: 635px) {
    .info__block {
        padding: 20px 15px 30px;
        margin-bottom: 30px;
    }
}

.info__title {
    font-size: 20px;
    color: #fd9a04;
    margin-bottom: 10px;
}

.info__text {
    font-size: 15px;
    line-height: 28px;
    color: #1d1d1d;
}

@media only screen and (max-width: 635px) {
    .info__text {
        font-size: 14px;
    }
}

.form-send {
    margin-bottom: 40px;
}

.form-send__box {
    width: 39%;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-right: 15px;
}

.form-send__box:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 1098px) {
    .form-send__box:last-child {
        margin: 0;
    }
}

@media only screen and (max-width: 1098px) {
    .form-send__box {
        width: 100%;
        margin: 0 0 15px;
    }
}

.form-send input[type="number"] {
    -moz-appearance: textfield;
}

.form-send input::-webkit-outer-spin-button, .form-send input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-send__invoice {
    padding: 0 10px;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #dde8ed;
    background-color: #f5f7f8;
}

.form-send__wrap-btn {
    width: 14%;
    float: right;
}

@media only screen and (max-width: 1098px) {
    .form-send__wrap-btn {
        width: 20%;
        float: none;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 447px) {
    .form-send__wrap-btn {
        width: 40%;
    }
}

.form-send__btn {
    padding: 8px 0 7px;
    width: 100%;
    text-align: center;
}

.all-bid__table_confirmed {
    color: #8eb52a;
}

.all-bid__table_rejected {
    color: #c01010;
}

.refback {
    padding: 0 18px;
    margin-bottom: 80px;
}

.refback__item {
    margin-bottom: 30px;
    overflow: hidden;
}

.refback__item:last-child {
    margin-bottom: 0;
}

.refback__img {
    float: left;
    margin-right: 15px;
    width: 40%;
    height: 35px;
    overflow: hidden;
    position: relative;
}

.refback__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.refback__description {
    float: left;
    font-size: 12px;
    line-height: 18px;
}

.refback__title {
    color: #2e2e2e;
    font-weight: 700;
}

.refback__subtitle {
    color: #8bb129;
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    .refback {
        float: left;
        width: 50%;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 640px) {
    .refback {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 447px) {
    .refback {
        float: none;
        width: 100%;
    }
}

.news {
    padding: 0 18px 20px;
}

.news__item {
    margin-bottom: 30px;
    overflow: hidden;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news__date {
    font: 12px "GothamProBold";
    color: #2e2e2e;
    margin-bottom: 5px;
    font-weight: 700;
}

.news__title {
    color: #d0d6bf;
    text-decoration: underline;
}

.news__title span {
    font: 15px "GothamProLight";
    color: #698327;
}

.news__title:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .news {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 640px) {
    .news {
        padding: 0 10px 20px;
    }
}

@media only screen and (max-width: 447px) {
    .news {
        float: none;
        width: 87%;
    }
}

/* end CONTENT */
.captcha img {
    max-width: none;
}
* {
    box-sizing: content-box;
}
.mCustomScrollBox {
    height: auto;
}



.sidebar_close .sidebar__row:hover a + .dropdown {
    display: block!Important;
    height: auto;
    visibility: visible;
    position: absolute;
    left: 52px;
    top: 0;
    background-color: #87ac28;
    z-index: 10;
    width: 191px;
    padding: 20px 0px 20px 12px;
}
.sidebar_close .sidebar__row:hover .sidebar__item {
    padding-right: 0;
}


.sidebar_close .sidebar__row:hover .js-drop+.dropdown .dropdown__row {
    margin-bottom: 20px;
}
.sidebar_close .sidebar__row:hover .sidebar__item:before {
    margin-right: 29px;
}

.sidebar_close .sidebar__row:hover .js-drop+.dropdown .dropdown__item:hover {
    color: #98c12d;
    border-bottom: 1px solid #fff;
}
.sidebar_close .sidebar__row:hover .js-drop+.dropdown .dropdown__row a {
    border-bottom: 1px solid #fff;
}
.sidebar_close .sidebar__row:hover .js-drop+.dropdown .dropdown__row a:hover, .sidebar_close .sidebar__row:hover .js-drop+.dropdown .dropdown__row a.active {
    color: #000;
    border-bottom: 1px solid #000;
}
.history__table {
    overflow: hidden;
}
.pagination {
    float: left;
}
.sidebar__item.opened-submenu:after, .sidebar__item.active-empty:after {
    transform: rotate(90deg);
    top: 20px;
    right: 75px;
}